@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap");

:root {
  --1: #d5966c;
  --2: #151515;
  --3: #444444;
  --4: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Big Shoulders Display", sans-serif;
  color: #151515;
}

p {
  font-family: "Outfit", sans-serif;
  color: #444444;
}

img {
  max-width: 100%;
}
